/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {

	/* onepagenav */
	.navbar-collapse {
		background: #000;
		z-index: 9999;
		opacity: 0.9;
	}
	
	.home_content_title {
		margin-top: 20px;
		margin-bottom: 0;
	}
	
	#scrollUp {
		right: 30px;
	}

	.barfiller_box {
		margin-top: 50px;
	}
	
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.section_content_title {
		font-size: 30px;
	}
	.barfiller_box {
		margin-top: 30px;
	}
	.single_service {
		margin-bottom: 20px;
	}
	
	/* onepagenav */
	.navbar-collapse {
		background: #000;
		z-index: 9999;
		opacity: 0.9;
	}
	
	.home_content_title {
		font-size: 35px;
		margin-top: 20px;
	}
	
	.home_content_txt  {
		font-size: 18px;
	}
	
	.service_area, .pricing_area, .skill_area, .portfolio_area, .experience_area, .news_area {
		padding-bottom: 40px;
	}
	
	.single_pricebox, .single_news {
		margin-bottom: 30px;
	}
	
	.single_testimonial .icon .fas.fa-angle-double-down {
		font-size: 32px;
	}

	#scrollUp {
		right: 40px;
	}

	.contact_info_cont1 {
		font-size: 15px;
	}
	.contact_info_cont2, .contact_info_cont_link {
		font-size: 14px;
	}
	.home_content_title {
		font-size: 30px;
	}
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
	
	/* onepagenav */
	.navbar-collapse {
		background: #000;
		z-index: 9999;
		opacity: 0.9;
	}

	.home_content_title {
		font-size: 19px;
		margin-top: 20px;
	}
	
	.home_content_txt {
		font-size: 12px;
	}
	
	.section_content {
		margin-bottom: 24px;
	}
	.section_content_title {
		font-size: 26px;
	}
	.section_content_txt {
		font-size: 14px;
	}
	
	
	.service_area, .pricing_area, .skill_area, .portfolio_area, .experience_area, .news_area {
		padding-bottom: 10px;
	}
	
	.about_info ul li a {
		font-size: 12px;
	}
	
	.left::before, .right::before {
		left: 2px;
	}

	
	.copyright_text p {
		font-size: 16px;
	}
	.contact_info {
		margin-bottom: 20px;
	}
	
	#scrollUp {
		width: 38px;
		height: 38px;
		right: 40px;
		bottom: 2px;
		padding-top: 10px;
		font-size: 16px;
	}
	.single_service {
		margin-bottom: 30px;
	}
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	/* onepagenav */
	.navbar-collapse {
		background: #000;
		z-index: 9999;
		opacity: 0.9;
	}
	
	#scrollUp {
		right: 35px;
		bottom: 45px;
	}
}

@media only screen and (max-width: 420px) {
    .single_service {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 375px) {}